*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: #f9fafb;
    background: radial-gradient(circle at top left, #111827 0, #020617 45%, #020617 100%);
    display: flex;
    flex-direction: row-reverse;  
    justify-content: center;
    align-items: center;
    margin-right: 120px;
    gap: 140px; 
               
}
main{
    max-width: 600px;
    margin-right: 50px;



}
main>img{
    display: block;
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 24px;
    margin-bottom: 36px;

}
main h1 {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 12px;
}

main h4 {
    font-weight: 400;
    color: #9ca3af;
    margin-bottom: 28px;
}
main h3 {
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 4px;
}

main h5 {
    font-size: 14px;
    font-weight: 400;
    color: #9ca3af;
}
form {
    width: 360px;
    background: #020617;
    padding: 50px 50px 32px;
    border-radius: 24px;
    border: 1px solid #585c64;
    box-shadow: 0 24px 60px rgba(16, 13, 13, 0.9);


}
form>h3{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}
form div {
    margin-bottom: 18px;
}
label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    color: #e5e7eb;
    margin-bottom: 8px;
}
input[type="email"],
input[type="password"] {
    width: 100%;
    border-radius: 999px;
    padding: 20px;
border: 1px solid #111827;
background: #020617;
color: #f9fafb;
font-size: 14px;
outline: none;
transition: border-color 0.2s ease, box-shadow 0.2s ease,;
input::placeholder {
    color: #6b7280;
}
input:focus {
    border-color: #22c55e;
    box-shadow: 0 0 0 1px rgba(34, 197, 94, 0.4);
}


}
#login {
    margin-top: 6px;
    width: 100%;
    padding: 20px 0;
    border-radius: 999px;
    border: none;
    background: #22c55e; 
    color: #020617;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition:  transform 0.1s ease, box-shadow 0.1s ease;
}

#login:hover {
    background: #16a34a;
    box-shadow: 0 12px 30px rgba(22, 163, 74, 0.6);
    transform: translateY(-1px);
}

#login:active {
    transform: translateY(0);
    box-shadow: none;
}
form p {
    margin-top: 18px;
    text-align: center;
    font-size: 13px;
    color: #9ca3af;
}

form a {
    color: #22c55e;
    text-decoration: none;
    font-weight: 500;
}

form a:hover {
    text-decoration: underline;
}
@media (max-width: 900px) {
    body {
        width: auto;
        
        margin: 0px;
    }

    main {
        display: none;
    }

   

}
form content{
    padding: 20px;
}